body {
  margin: 0;
  font-family: "HK Grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.5s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  overflow-x: hidden;
  transition: all 0.5s !important;
}

html body {
  overflow-x: hidden;
}

@font-face {
  font-family: "HK Grotesk";
  src: local("HK Grotesk"),
    url("./fonts/HKGroteskWide-SemiBold.otf") format("opentype");
}
